# http://git-scm.com/docs/gitignore

#Common Ignores
.vscode/
.idea
.iml
.DS_Store

#ionic
node_modules/
plugins/

#Platform iOS
*.mode1v3
*.perspectivev3
*.pbxuser
platforms/ios/build
platforms/ios/cordova
platforms/ios/CordovaLib
platforms/ios/platform_www

#Platform Android
platforms/android/build.xml
platforms/android/local.properties
#platforms/android/gradlew
platforms/android/gradlew.bat
#platforms/android/gradle
platforms/android/assets/www
platforms/android/cordova
platforms/android/CordovaLib
platforms/android/platform_www

#Ant builds
platforms/android/ant-build
platforms/android/ant-gen

#Eclipse builds
platforms/android/gen
platforms/android/out

#Gradle builds